.headerOne{
    color:rgb(59, 97, 63);
     font-size: 30px;
     font-weight: 600;
     text-align: center;
     margin: 25px;
   }

   .container{
    display: flex;
    align-items: center;  
    gap: 150px;
   }

   .Div2{
    animation: fadeIn 0.8s forwards;
   }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

   .Div2 h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .Div2 ul {
    font-size: large;
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .Div2 li {
    margin-bottom: 20px;
  }

   .containerOne{
     background: radial-gradient(ellipse,rgb(237, 241, 214), rgb(157, 192, 139));
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     margin-left: 5px ;

     max-width: 500px;
     animation: fadeInSlideLeft 0.8s forwards;
   }

   @keyframes fadeInSlideLeft {
    0% {
      opacity: 1;
      transform: translateX(300px);
    }
  }
 
   .formLabel{
     color:rgb(59, 97, 63);
     margin-left:10px;
     font-weight:bold;  
     margin: 5px;
   }
 
   .formLabel2{
     color:rgb(59, 97, 63);
     margin-left:10px;
     font-weight:bold;  
     margin: 5px;
   }

   .formLabel3{
    color:rgb(59, 97, 63);
    margin-left:10px;
    font-weight:bold;  
    margin: 5px;
  }

  .formLabel4{
    color:rgb(59, 97, 63);
    margin-left:10px;
    font-weight:bold;  
    margin: 5px;
  }